.chip-verde {
    background-color: #4caf50 !important;
    color: white !important;
  }
  
  .chip-rojo {
    background-color: #f44336 !important;
    color: white !important;
  }

  .chip-amarillo {
    background-color: #f1f436 !important;
    color: white !important;
  }